.table-wrapper {
    position: relative;

    .planet-row {
        cursor: pointer;
        transition: 0.5s;
    
        &:hover {
            background-color: rgba(63, 81, 181, 0.5);
        }
    }
}
