<div class="title">Residents of the planet</div>
<mat-dialog-content class="mat-typography">
    <table mat-table [dataSource]="data" class="mat-elevation-z8" *ngIf="data.length">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef> Height </th>
            <td mat-cell *matCellDef="let element"> {{isNumber(element.height) ? element.height : (element.height | number)}} </td>
        </ng-container>

        <ng-container matColumnDef="birth_year">
            <th mat-header-cell *matHeaderCellDef> Year of birth </th>
            <td mat-cell *matCellDef="let element"> {{element.birth_year}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="no-residents" *ngIf="!data.length">There are no residents at the planet. ¯\_(ツ)_/¯</div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>